@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

.leaflet-control-container {
  z-index: 400 !important;
}

/* optional subtle route animation */
.leaflet-routing-line {
  stroke-dasharray: 10 8;
  stroke-linejoin: round;
  stroke-linecap: round;
}
 
body {
  margin: 0;
  font-family: 'font-inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'font-inter';
}

code {
  font-family: 'font-inter', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* distance from text */
  width: 0;
  height: 2px;
  background-color: #5198ac; /* your blue color */
  transition: width 0.3s ease;
  color: #5198ac;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  animation: loopUnderline 1.5s infinite alternate;
}

@keyframes loopUnderline {
  0% { width: 0%; }
  50% { width: 100%; }
  100% { width: 0%; }
}

